/src/Notebook.log
/src/Notebook.tex
/memoria/Document.aux
/memoria/Document.bbl
/memoria/Document.blg
/memoria/Document.lof
/memoria/Document.log
/memoria/Document.lot
/memoria/Document.out
/memoria/Document.toc
/memoria/Document.pdf
/src/Notebook.html
